<div id="monogoData" ng-controller="MyController">
 <p>This project retrieves a small amount of JSON from
 a node server.</p>
 <div class='inputDiv'>
 <p>Rows in DB: {{presidentsLength}}</p>
 <ul>
 <li ng-repeat="president in presidents">
 <p>{{president.getPresidentName()}}<br/>
 TermStart: {{president.getTermStart()}}<br/>
 TermEnd: {{president.getTermEnd()}}</p>
 </li>
 </ul>
 <div ng-bind-html-unsafe="hint"></div>
 </div>
 <div class='inputDiv'>
 <input type='text' ng-model='presidentName'></input>
 <input type='text' ng-model='termStart' placeholder='termStart'></input>
 <input type='text' ng-model='termEnd' placeholder='termEnd'></input>
 <button ng-click='newPresident()'>New President</button>
 <hr />
 <input type='number' ng-model='indexOfItemToDelete'></input>
 <button ng-click='deleteRow()'>Delete</button>
 </div>
 </div>